<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs模板引擎</title>
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <h3>get提交数据</h3>
    <form action="/search_index" method="get">
      用户: <input type="text" name="username" id="" autocomplete="off" />
      <br />
      密码: <input type="text" name="pwd" id="" autocomplete="off" /> <br />
      <button>提交</button>
   
      <h3>post提交数据</h3>
  </body>
</html>
