<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs模板引擎</title>
  </head>
  <body>
    <h2>模板引擎ejs</h2>
    <p><%=title%></p>
  </body>
</html>
